{% extends "app/main/base.html" %} {% load static %} 
{% block title %} Blog {%endblock %} 
{% block content %}
<section class="w3l-inner-banner-main">
    <div class="about-inner editContent">
<div class="container">   
<ul class="breadcrumbs-custom-path">
    <li class="right-side propClone"><a href="{% url 'home' %}" class="editContent">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
    <li class="active editContent">Blog</li>
</ul>
</div>
</div>
</section>
<!-- breadcrumbs //-->
<section class="w3l-recent-work-hobbies" id="services"> 
    <div class="recent-work editContent">
        <div class="container">
            {% if list_posts %}
            <div class="mb-5 text-center">
                    <h2>Recent Blog Post</h2>
                </div>
            <div class="row about-about">
                {% for p in list_posts %}
                <div class="col-lg-4 col-md-6 col-sm-6 propClone about-line-top">
                    <div class="pet-grid-row">
                        <img src="{{ p.post_img.url }}" alt="product" class="img-responsive about-me">
                        <div class="about-grids editContent">
                            <h5><a href="{% url 'post_detail' p.slug %}" class="editContent">{{ p.title }}</a></h5>
                            <p class="para editContent">{{ p.post_contents|slice:100 }} </p>
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% if puppy_list %}
<section class="w3l-services-two" id="services">
    <div class="service-single-page editContent">
        <div class="container">
            <div class="mb-5 text-center">
                <h2>Puppy Available for Pickup</h2>
            </div>
            <div class=" service-treat">
            {% for p in puppy_list %}
                <div class="service-pet">
                
                    <div class="image-grid">
                        <img src="{{ p.banner.url }}" alt="{{p.title}}" height="200px" class="img-responsive about-me">
                    </div>
                    <div class="pet-animals">
                        <h4><a href="{% url 'puppy_detail' p.slug %}">{{p.title}}</a></h4>
                            <p class="para">{{p.description |slice:100}}</p>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        
    </div>
    </div>
</section>
{% endif %}
{% endblock %}