{% extends "app/base-dashboard.html" %}
{% load static %}

{% block title %}
DASHBOARD
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Contact Us</h6>
            </div>
            <div class="card-body p-3">
              <form role="form" method="post">
                
                <label>Subject</label>
                <div class="mb-3">
                  <input type="text" name="subject" class="form-control" placeholder="Subject" aria-label="Subject" aria-describedby="email-addon">
                </div>
                <label>Message</label>
                <div class="mb-3">
                <textarea class="form-control" name="message"></textarea>
                  
                </div>
                <div class="text-center">
                {% csrf_token %}
                  <button type="submit" class="btn bg-gradient-info w-40 mt-4 mb-0">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Profile Information</h6>
                </div>
                <div class="col-md-4 text-end">
                  <button type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    Edit Profile <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              
              <hr class="horizontal gray-light my-4">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; {{user.get_full_name}}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; {{user.profile.phone}}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{current_user.email}}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Location:</strong> {{user.profile.address}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Latest Blog</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
              {% if post %}
              {% for p in post %}
                <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                  <div class="avatar me-3">
                    <img src="{{ p.post_img.url }}" alt="kal" class="border-radius-lg shadow">
                  </div>
                  <div class="d-flex align-items-start flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ p.title|slice:30 }}</h6>
                    <p class="mb-0 text-xs">{{ p.post_contents |slice:50}}</p>
                  </div>
                  <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="{% url 'post_detail' p.slug %}">Read</a>
                </li>
                {%endfor%}
              {% endif %}  
                
              </ul>
            </div>
          </div>
        </div>
        {% if puppy %}
        <div class="col-12 mt-4">
          <div class="card mb-4">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-1">Latest Puppies</h6>
              <p class="text-sm">Most recent litters</p>
            </div>
            <div class="card-body p-3">
              
              <div class="row">
              {% for p in puppy%}
                <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                  <div class="card card-blog card-plain">
                    <div class="position-relative">
                      <a class="d-block shadow-xl border-radius-xl">
                        <img src="{{ p.banner.url }}" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                      </a>
                    </div>
                    <div class="card-body px-1 pb-0">
                      <p class="text-gradient text-dark mb-2 text-sm">{{ p.puppy_breed }}</p>
                      <a href="javascript:;">
                        <h5>
                          {{ p.title }}
                        </h5>
                      </a>
                      <p class="mb-4 text-sm">
                        {{ p.description|slice:100 }}
                      </p>
                      <div class="d-flex align-items-center justify-content-between">
                        <a type="button" href="{% url 'puppy_detail' p.slug %}" class="btn btn-outline-primary btn-sm mb-0">Adopt Puppy</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              
            </div>
          </div>
        </div>
        {% endif %}
      </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit personal details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="card-body p-3">
              <form role="form" method="post">
                
                <label>Phone</label>
                <div class="mb-3">
                  <input type="text" name="phone" class="form-control" placeholder="Subject" aria-label="Subject" aria-describedby="email-addon">
                </div>
                <label>Address</label>
                <div class="mb-3">
                <textarea class="form-control" name="address"></textarea>
                  
                </div>
                {% csrf_token %}
                
          
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}